body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}



.midiinput{
    background-color: red;
    border-style: double;
    border-width: 5px;
    border-color: black;
    position:absolute;
}
.midioutput{
    background-color: blue;
    border-style: double;
    border-width: 5px;
    border-color: black;
    position:absolute;
}
