
<div id="container">
	<div id="inputs">
	      <div ng-repeat="input in midiInputs" class="midiinputlabel" style="top:{{25*$index}}px;"></div>
	</div>

	<div class="hero-unit">
	      <div ng-repeat="input in midiInputs" class="midiinput"    style="top:{{25*$index}}px;"></div>
	      <div ng-repeat="widget in widgets" class="widget"></div>

	      <div ng-repeat="output in midiOutputs" class='midioutput' style="top:{{25*$index}}px;"></div>
	</div>

	<div id="outputs">
		<div ng-repeat="output in midiOutputs" class='midioutputlabel' style="top:{{25*$index}}px;"></div>
	</div>

</div>